@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body { margin: 0; }

h1 {
    font-size: 48px;
}

div {
  display: block;
}

a {
  text-decoration: none;
  color: #242424;
  transition: opacity 300ms ease;
}
li {
    list-style-type: none;
}
img {
  width: 100%;
}
section {
  padding: 0 32px;
    clear: both;
  /* clear: both;
  margin-bottom: 60px; adjust as needed */
}
footer {
  /* padding: 96px 32px; */
  background-color: rgb(100, 21, 255);
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}


.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 45px 0px;
}

/* layout */
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  border: none;  
  border-style: none;  
  /* border: #d7a253 solid 2px;  */
}

.logo__img {
  display: flex;
  align-items: center;
  gap: 10px;
}

.treact__img {
  height: 50px;
  width: 50px;
}

.logo__title {
  font-size: 24px;
  font-weight: 900;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 28px;
}


.nav__link {
  position: relative;
  display: inline-block;  
  width: auto;            
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  white-space: nowrap;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  height: 2px;
  background: #6415ff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease;
}

.nav__link:hover::after {
  transform: scaleX(1);
}

.login { margin-left: 22px; }
.menu__btn, .menu__backdrop {
  display: none;
}
.btn {
  background-color: #6415ff;
  color: white;
  border-radius: 45px;
  padding: 10px 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  border: none;
  cursor: pointer;
}

/* Generic sECTION */
.leftgeneric {
    float: left;
    width: 40%;
    display: flex;
    flex-direction: column;

}
.rightgeneric {
    float: left;
    width: 60%;
}
.purple__text {
    color: #6415ff;
}
.genericleft__para {
    font-size: 18px;
    line-height: 1.5;
    color: #243e63;
    margin: 24px 0;
    padding: 5px 5px;
}
.email__id {
    width: 100%;
    position: relative;
    max-width: 450px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 75px;
}
.email__address {
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    position:absolute;
    color: rgb(36, 62, 99);
    width: 100%;
    height: 75px;
    font-size: 16px;
    font-weight: 400;
    z-index: 1;
    transition: border-color 300ms;
}
.email__btn {
    border-radius: 500px;
    color: white;
    background-color: #6415ff;
    font-size: 16px;
    font-weight: 700;
    width: 175px;
    margin: 10px;
    height: calc(100% - 15px);
    cursor: pointer;
    z-index: 2;
}
.email__btn:hover {
  background-color: rgba(60, 13, 153)
}
.customers__PARA {
  color: #a0aec0;
  margin-top: 80px;
  font-size: 12px;
  font-weight: 700;
  
}
.customer__img {
  width: 85%;
  opacity: 0.7;

}
.template__img{
  /* width: calc(100% - 40%); */
  max-width: 800px;
}

/*                 Features and services section */
.feature__container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 0px;
    /* border: 1px solid #9719d6; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feature__container::after {
  content: "";
  display: block;
  clear: both;
}

.features__title {
  font-size: 16px;
  font-weight: 700;
  color: #6415ff;
  letter-spacing: 1.7px;
  padding: 5px 5px;
}
.features__para {
  font-size: 16px;
  font-weight: 500;
  columns: #7c8ba1;
  text-align: center;
  max-width: 500px ;
}
.features {
  display: flex;
  flex-wrap: wrap;
}
.feature {
  width: calc(100% / 3);

}
.feature__description {
  display: flex;
  align-items: flex-start;
  padding: 35px 25px ;
}
.secure__img--wrapper{
  display: flex;
  border: 2px solid #242424;
  border-radius: 500px;
  padding: 10px;
  margin: 0px;
}
.secure__img {
  width: 25px;
  height: 25px;
}
.feature__text {
  margin-top: 5px;
  margin-left: 5px;

}
.feature__title {
  margin : 0;
  padding: 0 5px;
  box-sizing: border-box;
  color: #243e63;
}
.feature__para {
  margin-top: 10PX;
  margin-left: 2PX;
  font-size: 16px;
  padding: 0 5px;
}

/* Design and Development section */
.leftdiv {
  width: 50%;
  /* border: 2px solid #480c0c; */
  display: flex;
  flex-direction: column;
  max-width: 475px;
  margin-right: 60px;
  padding: 10px 10px;
  height: 100%;
  /* background-color: #f0f0f0; */
  padding: 20px;
  box-sizing: border-box;
  /* border: 1px solid #ccc; */
}
.rightdiv {
  width:50%;
  /* border: 2px solid #242424; */
    height: 100%;
  /* background-color: #f0f0f0; */
  padding: 20px;
  box-sizing: border-box;
    padding-left: 64px;
}
.leftdiv, .rightdiv {
  float: none;      
  width: 48%;       
}
.section__title {
  line-height: 1.25;
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  letter-spacing: 0.015em;
  margin: 15px 0;
}
.section__para {
  font-size: 18px;
  font-weight: 500;
  color:#7c8ba1;
}
.section__btn {
  padding: 10px 20px;
   border-radius: 500px;
    color: white;
    background-color: #6415ff;
    font-size: 16px;
    font-weight: 700;
    width: 145px;
    margin: 10px;
    height: calc(100% - 15px);
    cursor: pointer;
    border: none;
}
.section__img--wrapper{
  z-index: 2;
  width:100%;
  height: 100%;
  margin-left: 5px;
}
.leftdivreactdev {
  /* border: 2px solid #0f0c48; */
  display: flex;
  flex-direction: column;
  max-width: 475px;
  margin-right: 60px;
  padding: 10px 10px;
  box-sizing: border-box;
}
.rightdivreactdev {
  /* border: 2px solid #a70bb0; */
  padding: 32px 0;
  box-sizing: border-box;
  padding-left: 60px;
}

.feature__img--wrapper{
 width: 50%;
 position: relative;
 display: flex;
}
.feature__img--wrapper,
.rightdivreactdev {
  width: 50%;
}
.feature__img {
z-index: 2;
}

.section__img {
  width:100%;
  height: 100%;
  z-index: 1;
}


.section__steps {
  /* border: 1px solid rgb(229, 0, 235); */
  /* padding: 5px 5px; */
  display: flex;           
  align-items: flex-start; 
  gap: 16px;              
   /* border: 1px solid #ccc;    */
}
.steps__title {
  font-size: 20px;
  font-weight: 600;
  color: #243e63;
}
.steps__para {
  font-size: 15px;
  font-weight: 500;
  color:#718096 ;
  line-height: 1.5;
}

.parent {
  display: flex;           
  align-items: flex-start; 
  gap: 16px;              
  /* border: 1px solid #ccc; */
  
}

 .child {
  max-width: 350px;
  /* border: 1px solid #ccc; */
  color: #243e63;
}

.child:first-child {
  font-size: 36px;
  font-weight: 600;
  color: #cbd5e0;
  line-height: 1;          
}



/* Values */

.valuesparent {
  display: flex;           
  align-items: flex-start; 
  gap: 16px;              
  /* border: 1px solid #ccc; */
  
}

.leftdivvalues {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;         
  box-sizing: border-box;
  /* border: 1px solid #ccc; */
  padding: 32px 64px 32px 0;
  float: none;          
}
.rightdivvalues {
  width: 50%;
  box-sizing: border-box;
  /* border: 1px solid #820c86; */
  overflow: hidden;  
  float: none;          
}

.valuesmain__img--wrapper {
/* width: 100%; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.values__img {
  display: block;
  max-width: 100%;  
  height: auto;      
}


.values__title {
  font-size: 20px;
  font-weight: bold;
  color: #243e63;
  margin-top: 0px;
  margin-left: 0px;  
}

.valuesleft__para {
  font-size: 18px;
  font-weight: 500;
  color:#7c8ba1;
  line-height: 1.625;
}


.valuesrow {
  box-sizing: border-box;
  /* background-color: #f9f9f9; */
  border-radius: 12px;
  max-width: 100%;
  padding: 16px;            
}

.childone {
  /* border: 1px solid #820c86;   */
  display: flex;
  gap: 8px;   
  align-items: center;
}

.childtwo {
  display: flex;          
  align-items: center;    
  gap: 12px;             
  gap: 8px;
  box-sizing: border-box;
  flex-direction: column;
}
.values__img--wrapper {
  margin: 0; 
  max-width: 50px;
  background-color: #9ae6b4;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  /* border: 1px solid #820c86; */

}
.values__img--wrapper img {
  width: 32px;
  height: 32px;
  margin: 0; 
}

.values__title {
  font-size: 20px;
  font-weight: 700;
  color: #243e63;
  margin: o;
}
.values__para {
  font-size: 16px;
  color: #718096;
  line-height: 1.5;
  margin: 0;
  border: none;
}
.values__btn {
  padding: 10px 20px;
  border-radius: 500px;
  background-color: #6415ff;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  max-width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
}

/*                             pricing                   */
#pricing {
  padding: 80px 0px;
}
.pricingsectionrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* border: #057c3f solid 2px;  */
}
.pricingsection__title {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36,62, 99);
  line-height: 1.5;
  margin: 15px 0;
  letter-spacing: 0.025em;
}
.pricingsection__para {
  max-width: 575px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
}
.plans {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  gap: 5px; /* spacing between cards */
}
.plan {
  /* width: calc(100%/3); */
  width:calc(33.333% - 20px);
  border: #e2e0df solid 2px; 
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px 5px;
  flex: 1 1 30%; 
  box-sizing: border-box;  
  align-items: center;
}
.plan__top {
    padding: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    border-radius: 10px;
}
.plan__top::before {
   content: ""; 
   position: absolute; 
   top: 0; 
   left: 0; 
   height: 8px; 
   width: 100%; 
   background: linear-gradient(to right, #10a9c1, #85cadb); 
    border-radius: 10px;
}
.plane__name {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
}
.price {
  font-size: 35px;
  font-weight: bold;
  padding: 10px 0;
}
.plan__month {
  font-size: 18px;
  font-weight: 600;
  color: #848e9c;
  padding: 10px 0;
}
.plan__month--biz {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 10px 0;
}
.plan__middle {
  border-top: rgb(229, 231, 235) 2px solid;
  border-bottom: rgb(229, 231, 235) 2px solid;
  margin:0;
  margin-bottom: 0px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 700;
  padding: 25px ;
  align-items: center;
  width: 100%;
}
.plan__feature {
  font-size: 20px ;
  font-weight: 500 ;
  color: #718096;
  margin-top: 24px;
}
.plan__feature--biz {
  font-size: 20px ;
  font-weight: 500 ;
  color: #ffffff;
  margin-top: 24px;
}
.plan__bottom {
  padding: 20px 0;

}
.plan__btn {
 padding: 10px 30px;
   border-radius: 500px;
    color: white;
  background:linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    font-size: 16px;
    font-weight: 400;
    width: 145px;
    margin: 10px;
    height: calc(100% - 15px);
    cursor: pointer;
    border: none;  

}
.plan:nth-child(2) {
  background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
  color: white;
}
.plan:nth-child(2) .plan__btn {
    color: #6415ff;
    background-color: #f7fafc;
    background: linear-gradient(115deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);

}
.plan:nth-child(3) .plan__btn {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}
.plan:nth-child(3) .plan__top::before {
   content: ""; 
   position: absolute; 
   top: 0; 
   left: 0; 
   height: 8px; 
   width: 100%; 
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    border-radius: 10px;
}
.plan:nth-child(2) .plan__top::before {
   content: ""; 
   position: absolute; 
   top: 0; 
   left: 0; 
   height: 8px; 
   width: 100%; 
   background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(76, 81, 191) 0%);
   border-radius: 10px;
}
.plan:nth-child(2) .plan__middle {
  border-top: rgb(102, 126, 234) 2px solid;
  border-top: rgb(102, 126, 234) 2px solid;
}

/*      Testimonial   */
.testdivleft {
  width:50% ;
  /* border: #057c3f solid 1px;  */
  padding: 0px 0px;
}
.test__img--wrapper {
  margin: 0;
  padding: 0;
}
.test__img { 
  width: 100%; 
  max-width: 100%; 
  height: auto; 
  display: block; 
}

.testdivright {
  width: 50%;
  /* border: #2f057c solid 1px;  */
  padding-left: 60px;
}
.test__ratingstars {
  padding: 20 0px;
  color: #fabf2a;
}
.test__bottom {
display: flex; 
align-items: center; 
gap: 15px;  
}
.test__profile { 
  display: flex;
  align-items: center;
  gap: 12px;
}
.test__profile--img {
  width: 20%;
  border-radius: 50px;
  object-fit: cover;   
}
.test__profile--para{
  padding: 0 20px;
}
.test__arrow--btns {
  display: flex;
  gap: 10px; 
  margin-left: auto;  
}

.back__btn {
  width: 50px;              
  height: 50px;
  border: none;
  border-radius: 50%;       
  background-color: rgb(237, 247, 245);
  cursor: pointer;
  display: flex;            
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.back__btn img {
  width: 24px;              
  height: 24px;
  transform: rotate(180deg);
  color: #6415ff;
;
}

.forward__btn {
  width: 50px;             
  height: 50px;
  border: none;
  border-radius: 50%;       
  background-color: #f3f7fd;
  cursor: pointer;
  display: flex;           
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.forward__btn img {
  width: 24px;              
  height: 24px;
  color: #6415ff;
}
.contact {
  display: flex;
  flex-direction: row;
  padding: 0 180px;
  width: 100%;
  height: 100%;
  background-color: rgb(100, 21, 255);
  color: white;
  justify-content: center;
  align-items: center;
}
.getstarted {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5;
  padding: 75px 0;
}

.contact__btns {
  display: flex;
  justify-content: flex-end;
}
.getstarted__btn {
  padding: 15px 0px;
  border-radius: 500px;
  color: white;
  background-color : #f56565;
  font-size: 16px;
  font-weight: 500;
  width: 145px;
  margin: 10px;
  height: calc(100% - 15px);
  cursor: pointer;
  border: none;  
}
.contactus__btn {
  padding: 15px 0px;
  border-radius: 500px;
  color: white;
  background-color: rgb(100, 21, 255);
  font-size: 16px;
  font-weight: 500;
  width: 145px;
  margin: 10px;
  height: calc(100% - 15px);
  cursor: pointer;
  border: 1px solid #f3f7fd;  
}

/*              Footer               */
.footer__container {
    margin: 0 auto;
    padding: 80px 0px;
    /* border: 1px solid #9719d6; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; 
  align-items: stretch;
  background-color: rgb(100, 21, 255);
}
.footer__columns {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: 1px solid #860101; */
  background-color: rgb(100, 21, 255);
  padding: 0 20px;
}
.footer__column {
  marigin-top:50px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #04609a; */
}
.menu__title {
  color:white;
  font-size: 18px;
  font-weight: 500;
}
.footer__links {
  font-size: 14px;
  font-weight: 500;
  margin-top: 25px;
  color: white;
}
.footer__liner {
  /* border: 1px solid #01863b; */
  /* padding: 50px 0; */
  background-color: rgb(116, 44, 255);
  height: 1px;
  width: 100%;
  margin: 60px 0;
}
.footer__end {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* vertical centering */  
}
.logo__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.footer__logo--img {
  width: 20%;
  height: 30%;
  padding: 0px 10px;
}
.footer__logo--title {
  font-size: 20px;
  font-weight: 700;
  color: white;
  white-space: nowrap;
  height: 10px;
}
.footer__copyright {
  font-size: 14px;
  font-weight: 500;
  color: #cbd5e0;
  justify-content: center;
}
.social__links {
  display: flex; 
  padding: 10px 40px;
  gap: 10px
}
.social__link {
  border-radius: 300px;
  padding: 6px 6px;
  background-color: #e2e0df;
  align-items: center;
  justify-content: space-between;
}
.grids {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
}

/*                        Small Screens */
@media (max-width: 780px) {

  .email__address {
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 50px 20px 32px;
    color: rgb(36, 62, 99);
    width: 75%;
    height: 75px;
    font-size: 16px;
    font-weight: 400;
    z-index: 1;
    transition: border-color 300ms;
}
.email__id {
    width: 100%;
    align-items: center;
    height: 150px;
    margin-left: 50px;  
    display: flex;
    flex-direction: column;    
}
.email__address {
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 32px;    
    color: rgb(36, 62, 99);
    height: 75px;
    font-size: 16px;
    font-weight: 400;
    z-index: 1;
    transition: border-color 300ms;
    position: static;
}
.email__btn {
    border-radius: 500px;
    color: white;
    background-color: #6415ff;
    font-size: 16px;
    font-weight: 700;
    width: 75%;
    margin: 10px;
    height: 75px;
    cursor: pointer;
    z-index: 2;
}
.email__btn:hover {
  background-color: rgba(60, 13, 153)
}
.template__img--wrapper {
  width: 100%;
  max-width: 525px;
}

.plans {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  box-sizing: border-box;
  gap: 5px; 
  /* padding: 50px 50px;  */
}
 .plan { 
  flex: 1 1 100%;
  margin: 10px 0; /* vertical spacing between cards */ 
}
  
.valuesparent {
  display: flex;           
  gap: 16px;              
  flex-direction: column;
  /* border: 1px solid #ccc; */
  text-align: center;
  
}
.childone {
  justify-content: center;
}
#values .row {
  flex-direction: column;
}

.leftdivvalues {
  padding: 0px 25px ;
  order: 1;
  text-align: center; 
  width: 100%;
  max-width: 500px;
  align-items: center;
}

.rightdivvalues {
  order: -1;
  width: 100%;
}

.values__btn {
  margin: 20px auto 0 auto; 
  display: block;
}
.rightdivreactdev {
  /* border: 2px solid #a70bb0; */
  padding: 32px 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.feature__img--wrapper{
 width: 100%;

}

#section__reactdev .row{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.section__title {
  font-size: 30px;
}
.parent {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#designdevelopment .row {
  display: flex;
  flex-direction: column;
align-items: center; /* ✅ this centers children horizontally */
}
.section__img--wrapper{
  width:100%;
  max-width: 450px;
  height: 100%;
}
.section__img {
  width:100%;
  max-width: 450px;
  height: 100%;
}
.valuesleft__para {
  font-size: 14px;
  color:#7c8ba1;
}
.rightdiv {
  order: -1;
  width: 100%;
}
.leftdiv {
  order: 1;
  width: 100%;
  max-width: 600px;  
  text-align: center;
  margin-left: 75px;
}
.section__btn {
  align-self: flex-start;
  margin-left: 200px;
}
.features {
  display: flex;
  flex-direction: column;
}
.feature {
  width: 100%;
  padding: 0 100px;
}
.feature__description {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#generic .row{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.leftgeneric {
  order: -1;
  width: 100%;
  display: flex;
  flex-direction: column;  
  text-align: center;
  align-items: center;
}
.rightgeneric {
  order: 1;
  /* border: 1px solid #7c8ba1; */
  margin-top: 50px;
  justify-content: center;
  width: 100%;
}
.menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.nav__link {
  padding: 20px ;
}

.menu__btn {
  background-color:transparent;
  font-size: 30px;
  text-align: center;
  border: none;
  color: #7342d6;

  
}
.menu__backdrop {
position: absolute;
background-color: white;
border: 1px solid #7c8ba1;
border-radius: 10px;
top:45px;
left: 30px;
width:92vw;
height: 500px;
z-index: 4;
display: none;
justify-content: center;
}
.menu--open .menu__backdrop {
  animation: slide-left 0.6s ease-out forwards; 
  display: flex;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(120%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
  
}

.login {
  margin: 0px
}
.close__btn {
  position: absolute;
  right: 2px;
}
.nav__links {
  display: none;
}
.menu__btn {
  display: block;
}
.footer__columns {
  padding: 25px;
}

.pricingsection__title {
  text-align: center;
}
.pricingsection__para {
  font-size: 14px;
}

#testimonials .row {
  display: flex;
  flex-direction: column;
}
.testdivleft {
  width: 100%; 
  display: flex; 
  justify-content: center;
  align-items: center;
}
.testdivright {
  width: 100%;
  max-width: 500px;
  padding: 0px 0px;
  text-align: center;
}
.test__img { 
  max-width: 500px; 
}
.test__img--wrapper {
  max-width: 500px; 
}
.pricingsection__title {
  font-size: 36px;
}
.section__para {
  font-size: 16px;
}
.feature__container { width: 100%; margin: 0 auto; }
.contact {
  display: flex;
  flex-direction: column;
  width: 100%; 
  max-width: 600px;
  height: 100%;
  background-color: rgb(100, 21, 255);
  border-radius: 15px;
  color: white;
  justify-content: center;
  align-items: center;
  margin-left: calc(50% - 100vw); /* ✅ break out of parent container */ 
  margin-right: calc(50% - 100vw);  
}
.getstarted {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.5;
  max-width: 600px;
  padding: 25px 0px;
}
footer {
  padding: 0px 32px;
}
.footer__columns {
  justify-content: flex-start;
}
.footer__column {
  width: calc(100% / 3);
  padding: 20px 20px ;
}
.footer__liner {
  background-color: rgb(116, 44, 255);
  height: 1px;
  width: 100%;
  margin: 60px 0;
}
.footer__end {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo__title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__copyright {
  /* margin-top: 0px;
  padding: 20px 0; */
}
.social__link {
  margin-top: 10px;
}

}
